TPTP-v9.0.0
AGT
ALG
ANA
ARI
Axioms
BIO
BOO
CAT
COL
COM
CSR
DAT
FLD
GEG
GEO
GRA
GRP
HAL
HEN
HWC
HWV
ITP
KLE
KRS
LAT
LCL
LDA
LIN
MED
MGT
MSC
MVA
NLP
NUM
NUN
PHI
PLA
PRD
PRO
PUZ
QUA
RAL
REL
RNG
ROB
SCT
SET
SEU
SEV
SWB
SWC
SWV
SWW
SYN
SYO
TOP
